
<mat-drawer-container class="container">
    <mat-drawer mode="over" #drawer>
        <h2>Gas Agency</h2>
        @if(isMenuLoading) {
            <app-loader></app-loader>
        } @else {
            <mat-accordion>
                @for (option of groupedKeys; track $index) {
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span [class.active]="option === selectedNav?.MdlType">{{ option }}</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <ul>
                                @for (child of groupData[option.toString()]; track $index) {
                                    <li (click)="handleNavigate(child); drawer.toggle();" [class.active]="child.MdlDisplayname === selectedNav?.MdlDisplayname">
                                        {{ child.MdlDisplayname }}
                                    </li>
                                }
                            </ul>
                        </div>
                    </mat-expansion-panel>
                }
            </mat-accordion>
        }
        <mat-accordion class="links">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>settings</mat-icon>
                    </mat-panel-title>
                    <mat-panel-description>
                        <span>Settings</span>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <ul>
                        <li routerLink="/auth/change-password">
                            <mat-icon>lock_reset</mat-icon>
                            <span>Change Password</span>
                        </li>
                    </ul>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
        <div class="header">
            <button type="button" mat-icon-button color="primary" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="static-menus">
                <span routerLink="/dashboard" routerLinkActive="true">Home</span>
                <span routerLink="/dashboard" routerLinkActive="true">Adv Report</span>
                <button type="button" color="primary" mat-button [matMenuTriggerFor]="loginMenu">
                    <mat-icon>person</mat-icon>
                    {{ userData.UsrName || 'Anonymous User' }}
                </button>
                <mat-menu #loginMenu="matMenu">
                    <button mat-menu-item (click)="handleLogout()">Logout</button>
                </mat-menu>
            </div>
        </div>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
