@import "../../../styles/global.scss";
@import "../../../styles/variables";

.container {
    height: 100%;

    mat-drawer {
        &.mat-drawer-opened {
            width: 250px;

            h2 {
                text-align: center;
                color: $primary;
            }

            mat-expansion-panel {
                &.mat-expansion-panel:not([class*=mat-elevation-z]) {
                    box-shadow: none;
                }

                .mat-expansion-panel-header-title {
                    span.active {
                        color: $primary;
                    }
                }

                ul {
                    list-style: none;
                    padding: 0px;
                    margin: 0px;

                    li {
                        padding: 10px;
                        &.active {
                            color: $primary;
                        }
                    }
                }
            }

            .links {
                mat-expansion-panel {
                    padding: 0px;

                    ul {
                        padding-left: 0px;

                        li {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            list-style: none;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }

    mat-drawer-content {
        .header {
            height: 60px;
            position: fixed;
            width: 100vw;
            top: 0;
            z-index: 10;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            .header-action {
                display: flex;
                align-items: center;
                gap: 5px;

                p {
                    margin: 0;
                }
            }

            .static-menus {
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: flex-end;

                span {
                    cursor: context-menu;
                }
            }
        }
    }
}
