<section class="login-wrapper">
    <!-- Left -->
    <div class="left">
        <img class="login-hero" src="../../../assets/login.jpg" alt="logo">
    </div>
    <div class="right">
        <div class="title">
            <h3>Change</h3>
            <h2 class="company">Current Password</h2>
        </div>
        <div class="form-fields">
            <div class="user-forms">
                <mat-form-field appearance="outline">
                    <mat-label>Old Password</mat-label>
                    <input matInput type="password" [(ngModel)]="passwordInfo.OldPassword" placeholder="Enter Username Password">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" [(ngModel)]="passwordInfo.password" placeholder="Enter New Passsword">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Re New Password</mat-label>
                    <input matInput type="password" [(ngModel)]="passwordInfo.rePassword" placeholder="Re Enter New Passsword">
                </mat-form-field>
                <button mat-raised-button color="primary" class="otp-btn" (click)="handleChangePassword()">Change Password</button>
            </div>
        </div>
    </div>
</section>
