.details-section {
    margin-top: 70px;
    padding: 20px;

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        margin-top: 20px;

        mat-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .icons {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
            }

            mat-card-header {
                .header {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    flex-wrap: wrap;
                }
            }

            mat-card-content {
                display: flex;
                align-items: center;
                gap: 20px;
                flex-wrap: wrap;
            }

            .details {
                border-collapse: collapse;

                tr {
                    &:nth-child(even) {
                        background-color: #edecec9c;
                    }
                }

                td {
                    padding: 10px;
                    border: 1px solid #ddd;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 200px;
                }
            }

            mat-card-footer {
                padding: 20px;
            }
        }
    }

    .activity-card {
        margin-top: 20px;

        .action {
            display: flex;
            align-items: center;
            gap: 20px;

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }

        .action-details {
            ul {
                list-style: none;
            }
        }
    }

    .comments-details {
        margin-top: 20px;

        mat-card-title {
            margin-bottom: 10px;
        }

        .comments {
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;

            .comment-head {
                display: flex;
                align-items: flex-start;
                gap: 20px;

                mat-icon {
                    font-size: 40px;
                    height: 40px;
                    width: 40px;
                }

                .comment_head_details {
                    .commented_by, .comment_date {
                        margin: 0;
                    }

                    .commented_by {
                        font-size: 16px;
                        color: #9a9898;
                    }

                    .comment_date {
                        font-size: 12px;
                    }
                }
            }

            .comment-content {
                cursor: context-menu;
                padding: 5px;
                margin-top: 5px;
            }
        }
    }

    .attachments {
        margin-top: 20px;

        .attachments-table {
            tr {
                td {
                    font-size: 14px;

                    a {
                        text-decoration: none;
                        color: greenyellow;
                    }
                }
            }
        }
    }

    .reports {
        margin-top: 20px;
    }
}
