<section class="details-section">
    <ng-container *ngIf="loading; else detailTemplate">
        <app-loader></app-loader>
    </ng-container>
    <ng-template #detailTemplate>
        <mat-toolbar color="primary">
            <span>{{ title }} Details</span>
        </mat-toolbar>
        <div class="grid">
            <mat-card class="primary-card">
                <mat-card-header>
                    <div class="header">
                        <h3>Details</h3>
                        <div class="icons">
                            <button mat-icon-button color="accent" [matMenuTriggerFor]="reportMenu" matTooltip="Report" matTooltipPosition="above" [matBadge]="reportsData.length" *ngIf="reportsData.length > 0">
                                <mat-icon>print</mat-icon>
                            </button>
                            <mat-menu #reportMenu="matMenu">
                                <button mat-menu-item *ngFor="let report of reportsData" (click)="handleShowReport(report)">
                                    <mat-icon>{{ report.Icon }}</mat-icon>
                                    {{ report.ReportTitle }}
                                </button>
                            </mat-menu>
                            <button mat-icon-button color="primary" matTooltip="Comments" matTooltipPosition="above" (click)="handleToggleOptionsState('comment')" *ngIf="optionRights['Rights_Comment'] === 1" [matBadge]="commentsData.length">
                                <mat-icon>comment</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="History" matTooltipPosition="above" (click)="handleToggleOptionsState('history')" *ngIf="optionRights['Right_History'] === 1" [matBadge]="historyData.length">
                                <mat-icon>history</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Edit" matTooltipPosition="above" color="warn" (click)="handleEditRouter('Edit')" *ngIf="optionRights['Rights_Edit'] === 1">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Attachments" matTooltipPosition="above" color="warn" (click)="handleToggleOptionsState('attachment')" [matBadge]="attachmentsData.length" *ngIf="optionRights['Rights_Attachement'] === 1">
                                <mat-icon>attachment</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <table class="details">
                        <tr *ngFor="let column of selectedDataFirstHalf | keyvalue">
                            <td><strong>{{ column.key }}</strong></td>
                            <td style="text-align: right;">{{ column.value || 'N/A' }}</td>
                        </tr>
                    </table>

                    <table class="details">
                        <tr *ngFor="let column of selectedDataSecondHalf | keyvalue">
                            <td><strong>{{ column.key }}</strong></td>
                            <td style="text-align: right;">{{ column.value || 'N/A' }}</td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-card class="activity-card" *ngIf="toggleOptionsState.history">
            <mat-card-header>
                <mat-card-title>Activity Log</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ng-container *ngIf="historyData.length > 0; else noHistoryTemplate">
                    <mat-list>
                        <mat-list-item *ngFor="let history of historyData">
                            <div matListItemTitle class="action">
                                <mat-icon mat-list-icon>history</mat-icon>
                                {{ parseDate(history.ActionTime) | date: 'medium' }}
                            </div>
                            <div class="action-details">
                                <ul>
                                    <li>
                                        <span>{{ history.Action }} - {{ history.Status }} / By {{ history.Username }} </span>
                                    </li>
                                </ul>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </ng-container>
                <ng-template #noHistoryTemplate>
                    <p>No History Records to display</p>
                </ng-template>
            </mat-card-content>
        </mat-card>

        <div class="comments-details" *ngIf="toggleOptionsState.comment">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Comments</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ng-container *ngIf="commentsData.length > 0; else noCommentTemplate">
                        <div class="comments" *ngFor="let comment of commentsData">
                            <p class="comment_subject"><b>{{ comment.Subject }}</b></p>
                            <div class="comment-head">
                                <mat-icon>account_circle</mat-icon>
                                <div class="comment_head_details">
                                    <p class="commented_by">{{ comment.By }} added this comment</p>
                                    <p class="comment_date">{{ comment.Date }}</p>
                                </div>
                            </div>
                            <div class="comment-content">
                                <div [innerHTML]="comment.CommentText "></div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noCommentTemplate>
                        <p>No Comments to Display</p>
                    </ng-template>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="attachments" *ngIf="toggleOptionsState.attachment">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Attachments</mat-card-title>
                    <mat-card-subtitle>Title</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <table class="attachments-table">
                        <tr *ngFor="let attachment of attachmentsData">
                            <th>{{ attachment.DisplayFileName }}</th>
                            <td>
                                <a [href]="attachment.RefFilePath" target="_blank" download style="margin-left: 10px;">
                                    <mat-icon>download</mat-icon>
                                </a>
                            </td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>

        <ng-container *ngIf="excelRptLoading; else excelRptTemplate">
            <app-loader></app-loader>
        </ng-container>
        <ng-template #excelRptTemplate>
            <div class="reports" *ngIf="toggleOptionsState.dynamicReports">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Reports</mat-card-title>
                        <mat-card-subtitle>
                            Pdf and Excel reports
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <button mat-raised-button color="primary" style="margin-right: 10px;" (click)="handleDownloadFile('pdf')">{{ excelReports?.ReportTitle }} PDF</button>
                        <button mat-raised-button color="accent" (click)="handleDownloadFile('excel')">{{ excelReports?.ReportTitle }} EXCEL</button>
                    </mat-card-content>
                </mat-card>
            </div>
        </ng-template>
    </ng-template>
</section>
