<!-- <section class="login-wrapper">
    <div class="left">
        <img class="login-hero" src="../../../assets/login.jpg" alt="logo">
    </div>
    <div class="right">
        <div class="title">
            <h3>Change</h3>
            <h2 class="company">Current Password</h2>
        </div>
        <div class="form-fields">
            <div class="user-forms">
                <mat-form-field appearance="outline">
                    <mat-label>Old Password</mat-label>
                    <input matInput type="password" [(ngModel)]="passwordInfo.OldPassword" placeholder="Enter Username Password">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" [(ngModel)]="passwordInfo.password" placeholder="Enter New Passsword">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Re New Password</mat-label>
                    <input matInput type="password" [(ngModel)]="passwordInfo.rePassword" placeholder="Re Enter New Passsword">
                </mat-form-field>
                <button mat-raised-button color="primary" class="otp-btn" (click)="handleChangePassword()">Change Password</button>
            </div>
        </div>
    </div>
</section> -->
<section>
    <div id="wrapper">
        <div id="left">
            <div id="signin">
                <div class="logo">
                    <h2>Revamp Gen AI</h2>
                </div>
                <div class="form">
                    <div>
                        <label>Old Password</label>
                        <input [type]="viewPassword ? 'text' : 'password'" class="text-input" [(ngModel)]="passwordInfo.OldPassword" placeholder="Enter Old Password" name="OldPassword"/>
                    </div>
                    <div>
                        <label>New Password</label>
                        <input class="text-input" [type]="viewPassword ? 'text' : 'password'" [(ngModel)]="passwordInfo.password" placeholder="Enter New Passsword" name="New password"/>
                    </div>
                    <div>
                        <label>New Password</label>
                        <input class="text-input" [type]="viewPassword ? 'text' : 'password'" [(ngModel)]="passwordInfo.rePassword" placeholder="Re Enter New Passsword" name="Re-password"/>
                    </div>
                    <div class="action-container">
                        <button type="button" class="primary-btn" (click)="handleChangePassword()">Change Password</button>
                        @if(!viewPassword) {
                            <span (click)="viewPassword = !viewPassword">
                                <mat-icon style="color: white;">visibility</mat-icon>
                                View Password
                            </span>
                        } @else {
                            <span (click)="viewPassword = !viewPassword">
                                <mat-icon style="color: white;">visibility_off</mat-icon>
                                Hide Password
                            </span>
                        }
                    </div>
                </div>
            </div>
            <footer id="main-footer">
                <p>Copyright &copy; 2018, Revamp Gen AI, All Rights Reserved</p>
            </footer>
        </div>
        <div id="right">
            <div id="showcase">
                <div class="showcase-content">
                    <h1 class="showcase-text">
                        Revamp Gen <strong>AI</strong>
                    </h1>
                    <!-- <a href="#" class="secondary-btn">Start a FREE 10-day trial</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
