<section>
    <div id="wrapper">
        <div id="left">
            <div id="signin">
                <div class="logo">
                    <h2>Revamp Gen AI</h2>
                </div>
                <div class="form">
                    <div>
                        <label>Key</label>
                        <input type="text" class="text-input" [(ngModel)]="key" autocomplete="off" name="key" />
                    </div>
                    <div class="action-container">
                        <button type="button" class="primary-btn" (click)="handleSetDatabaseKey()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="showcase">
                <div class="showcase-content">
                    <h1 class="showcase-text">
                        Add Your to <strong>Login</strong>
                    </h1>
                    <a href="#" class="secondary-btn">Start a FREE 10-day trial</a>
                </div>
            </div>
        </div>
    </div>
</section>
