<div class="data-viewer">
    <!-- left -->
    <div class="left">
        <mat-card>
            <mat-card-content>
                <div class="actions">

                    <!-- {{ optionsRights | json }} -->
                    <div class="icons">
                        <mat-icon *ngIf="optionsRights?.Rights_New">
                            add
                        </mat-icon>
                        <mat-icon (click)="openFilterSheet()" *ngIf="dateFilterField">
                            filter_alt
                        </mat-icon>
                        <mat-icon *ngIf="isFilterApplied || filterValue.length > 0" (click)="handleClearFilters()">
                            close
                        </mat-icon>
                    </div>

                    <div class="search" [ngClass]="{'expanded': isExpanded}" (click)="toggleSearchField()" *ngIf="!isChild">
                        <input class="search-input" type="text" name="search" id="search" autocomplete="off" (input)="handleFilterValue($event)"  (focusout)="closeSearchField()">
                        <div class="search-icon">
                            <mat-icon>search</mat-icon>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <!-- tabs -->
        <main class="contents">
            <mat-tab-group [selectedIndex]="tabIndex" mat-stretch-tabs="false" mat-align-tabs="end" (selectedTabChange)="handleTabChange($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon (click)="isChild = !isChild">list_view</mat-icon>
                    </ng-template>
                    <app-table
                        [module]="module"
                        [isFilterApplied]="isFilterApplied"
                        (filterApplied)="handleFilterApplied($event)"
                        [filterValue]="filterValue"
                    ></app-table>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon (click)="handleTabRecentActions()">grid_view</mat-icon>
                    </ng-template>
                    <app-activites [isChild]="isChild"></app-activites>
                </mat-tab>
            </mat-tab-group>
        </main>
    </div>
</div>
