<section class="login-wrapper">
    <!-- Left -->
    <div class="left">
        <img class="login-hero" src="../../../assets/login.jpg" alt="logo">
    </div>
    <div class="right">
        <div class="title">
            <h3>Reset</h3>
            <h2 class="company">Password</h2>
        </div>
        <div class="form-fields">
            <div class="user-forms">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" [(ngModel)]="userInfo.username" placeholder="Enter Username Password">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" [(ngModel)]="userInfo.email" placeholder="Enter Email">
                </mat-form-field>
                <button mat-raised-button color="primary" class="otp-btn" (click)="handleResetPassword()">Reset</button>
            </div>
        </div>
    </div>
</section>
