<div class="data-viewer">
    <!-- left -->
    <div class="left">
        <mat-card>
            <mat-card-content>
                <div class="actions">
                    <div class="search" [ngClass]="{'expanded': isExpanded}" (click)="toggleSearchField()">
                        <input class="search-input" type="text" name="search" id="search" autocomplete="off" (input)="handleFilterValue($event)"  (focusout)="closeSearchField()">
                        <div class="search-icon">
                            <mat-icon>search</mat-icon>
                        </div>
                    </div>

                    <!-- {{ optionsRights | json }} -->
                    <div class="icons" *ngIf="optionsRights?.Rights_New">
                        <mat-icon>
                            add
                        </mat-icon>
                        <mat-icon (click)="openFilterSheet()" *ngIf="dateFilterField">
                            filter_alt
                        </mat-icon>
                        <mat-icon *ngIf="isFilterApplied || filterValue.length" (click)="handleClearFilters()">
                            close
                        </mat-icon>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <!-- tabs -->
        <main class="contents">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>list_view</mat-icon>
                    </ng-template>
                    <app-table
                        [module]="module"
                        [userData]="userData"
                        [isFilterApplied]="isFilterApplied"
                        (dataLength)="updateDataLength($event)"
                        (filterApplied)="handleFilterApplied($event)"
                    ></app-table>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>grid_view</mat-icon>
                    </ng-template>
                    test
                </mat-tab>
            </mat-tab-group>
        </main>
    </div>
    <!-- right -->
    <div class="right">
        <mat-card>
            <mat-card-content>
                <div class="data-count">
                    <h5>Total Datas</h5>
                    <span>{{ totalCount }}</span>
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer>
                <!-- @if(optionsRights['Rights_New']) { -->
                    <button mat-raised-button color="primary">
                        <mat-icon>add</mat-icon>
                        Add New Data
                    </button>
                <!-- } -->
            </mat-card-footer>
        </mat-card>
    </div>
</div>
