<section>
    <div id="wrapper">
        <div id="left">
            <div id="signin">
                <div class="logo">
                    <h2>Revamp Gen AI</h2>
                </div>
                <div class="form">
                    <div>
                        <label>username</label>
                        <input type="text" class="text-input" [(ngModel)]="userInfo.username" placeholder="Enter Username Password"/>
                    </div>
                    <div>
                        <label>Email</label>
                        <input type="email" class="text-input" [(ngModel)]="userInfo.email" name="email" placeholder="Enter Email"/>
                    </div>
                    <div class="action-container">
                        <button type="button" class="primary-btn" (click)="handleResetPassword()">Reset Password</button>
                    </div>
                </div>
            </div>
            <footer id="main-footer">
                <p>Copyright &copy; 2018, Revamp Gen AI, All Rights Reserved</p>
            </footer>
        </div>
        <div id="right">
            <div id="showcase">
                <div class="showcase-content">
                    <h1 class="showcase-text">
                        Revamp Gen <strong>AI</strong>
                    </h1>
                    <a href="#" class="secondary-btn">Resetting Your Password</a>
                </div>
            </div>
        </div>
    </div>
</section>
