<section class="dashboard">
    <h2>Dashboard</h2>
    <div class="content">
        <!-- left -->
        <div class="left-section">
            <div class="cards">
                <mat-card>
                    <mat-card-content>
                        <mat-icon>
                            payments
                        </mat-icon>
                        <div>
                            <span>50%</span>
                            <p>Sales</p>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                        <mat-icon>
                            trending_up
                        </mat-icon>
                        <div>
                            <span>30%</span>
                            <p>Profit</p>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                        <mat-icon>
                            money
                        </mat-icon>
                        <div>
                            <span>20%</span>
                            <p>Loss</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <!-- right -->
        <div class="right-section">
            <mat-card>
                <mat-card-content>
                    <div class="user-img">
                        <img src="../../../assets/avatar.png" alt="">
                    </div>
                    <p>Admin</p>
                    <span>dummy&#x40;gmail.com</span>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-footer>
                    <button mat-button color="primary">
                        <mat-icon>
                            phone
                        </mat-icon>
                        Contact
                    </button>
                    <button mat-button color="warn">
                        <mat-icon>
                            mail
                        </mat-icon>
                        Message
                    </button>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</section>
