@import "../../../../styles/variables";

.dashboard {
    margin-top: 70px;
    padding: 20px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .table-graph-container {
        width: 100%;
        overflow: auto;
        height: 500px;
        margin: 20px 0px;

        table {
            width: 100%;
            border-collapse: collapse;
        }

        tr:nth-child(even) {
            background-color: rgba(237, 236, 236, 0.6117647059);
        }

        th, td {
            text-align: left;
            padding: 16px;
            font-size: 14px;
        }

        th {
            border-bottom: 1px solid #ccc;
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: #fff;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .tables {
        display: flex;
        gap: 20px ;

        .tableDatas {
            overflow: auto;
            height: 500px;
            margin: 20px 0px;
            flex: 1;

            .table-head-container {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                justify-content: space-between;
                padding: 0px 20px;
                position: sticky;
                top: 0;
                z-index: 1;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }

            th, td {
                text-align: left;
                padding: 16px;
                font-size: 14px;
            }

            tr:nth-child(even) {
                // background-color: rgba(237, 236, 236, 0.6117647059);
                background-color: rgb(29 233 182 / 29%);

            }

            th {
                border-bottom: 1px solid #ccc;
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: #1de9b6;
            }
        }
    }


    .tiles-container {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        margin: 20px 0px;

        .reports {
            mat-card-content {
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }

        mat-card {
            padding: 0 20px;
            width: 300px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #fff;

            mat-card-header {
                justify-content: space-between;
                align-items: center;

                mat-card-title {
                    display: block;
                    width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .mat-mdc-card-header-text {
                    display: none;
                }

                mat-icon {
                    color: #b5b5ac;
                }
            }

            mat-card-content {
                mat-icon {
                    color: $primary;
                    background-color: $primary-opacity;
                    padding: 15px;
                    border-radius: 50%;
                }

                h3 {
                    font-size: 20px;
                    margin-top: 10px;
                    font-weight: 300;
                    letter-spacing: 3px;
                }

                .details {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {

                        &.title {
                            color: $black;
                            font-weight: 600;
                            letter-spacing: 2px;
                            font-size: 16px;
                        }

                        &.value {
                            color: $black-secondary;
                            font-weight: 400;
                            font-size: 14px;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
    }

    .graph-container {
        margin: 20px 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        .chart-item {
            flex: 1 1 50px;
            max-width: 600px;
            box-sizing: border-box;
            padding: 15px;
            border-radius: 8px;
            background-color: #f9f9f9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            .chart-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

@media (max-width: 450px) {
    .dashboard {
        .tiles-container {
            justify-content: center;

            mat-card {
                width: 100%;
            }
        }
        .table-graph-container, .tableDatas {
            height: 600px;
        }
    }
}

@media (max-width: 768px) {
    .dashboard {
        .graph-container {
            flex-direction: column;
            align-items: center;
        }

        .tables {
            flex-direction: column;
        }
    }
}
