<section class="dashboard">
    <div class="header">
        <div class="actions">
            <h2>Dashboard</h2>
        </div>
    </div>

    <div class="tiles-container">
        @for (dashBoardData of dashBoardDatas; track $index) {
            @if (dashBoardData.type === 'box') {
                <mat-card class="tile">
                    <mat-card-header>
                        <mat-card-title><span>{{ dashBoardData.dbData[0].Column1 }}</span></mat-card-title>
                        <mat-icon>more_horiz</mat-icon>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-icon>shopping_bag</mat-icon>
                        <h3>{{ dashBoardData.dbData[0].RsValue }}</h3>
                        <div class="details">
                            <span class="title">{{ dashBoardData.dbData[0].Column2 }}</span>
                            <span class="value">{{ dashBoardData.dbData[0].RcCnt }}</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            }
        }
    </div>

    <div class="table-graph-container">
        @for (dashBoardData of dashBoardDatas; track $index) {
            @if (dashBoardData.type === 'Table') {
                <table>
                    <thead>
                        <tr>
                            <th *ngFor="let col of dashBoardData.column">{{ col }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of dashBoardData.dbData['Table1']">
                            <td *ngFor="let col of dashBoardData.column">{{ row[col.toString()] }}</td>
                        </tr>
                    </tbody>
                </table>
            }
            @if(dashBoardData.type === "Graph") {
                <mat-card class="graph">
                    <mat-card-header>
                        <h2>Graph</h2>
                    </mat-card-header>
                    <mat-card-content>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum laborum accusantium, labore voluptatum eveniet est itaque doloribus molestias corrupti earum iste, accusamus alias eius! Deserunt sint sapiente facere laudantium ex?
                    </mat-card-content>
                </mat-card>
            }
        }
    </div>
</section>
