$primary: #b09efe;
$primary-opacity: #d9d0fb4d;
$secondary: #BFECFF;
$secondary-opacity: #e1f2ffa1;
$accent: #FFF6E3;
$pink: #FFCCEA;
$warning: #f44336;
$light-white: #f1f1f1;
$gray-secondary: #e8e5e5;
$danger: #f44336;
$light-bg: #f8f8f8;
$black: #131214;
$black-secondary: #222123;
$purple-navy: #525d80;
$black-accent: #2F2F2F;
