@import "../../../../styles/variables";

.table-container {

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .head-action {
            display: flex;
            align-items: center;
        }
    }

    .totals {
        p {
            text-align: right;
        }
    }

    .range {
        margin-bottom: 20px;
    }

    .table-wrapper {
        position: relative;
        min-height: 200px;
        max-height: 600px;
        overflow: auto;

        table {
            tr {
                &:nth-child(even) {
                    background-color: #edecec9c;
                }
            }

            td, th {
                mat-icon {
                    margin-right: 10px;
                    cursor: pointer;

                    &.comment {
                        color: $primary;
                    }
                }
            }
        }
    }
}
